* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #81d6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: #a5e2fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

#question-text {
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #1582f7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #1582f7;
}

#options-container {
    margin-bottom: 20px;
}

button.hidden {
    display: none;
}

.option {
    background-color : #1582f7;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.option:hover {
    background-color: #d81a1a;
}

#score-container {
    text-align: center;
}
